<!-- views/partials/footer.ejs -->

<div class="footer bg-gray-lighter">
	<div class="container-fluid pdm">
		<div class="row">
			<div class="col-sm-6">
				<h4>聯絡我們</h4>
				<ul>
					<li></li>
				</ul>
			</div>
		</div>
	</div>
</div>