<meta charset="UTF-8">
<title></title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="css/all.css">
<link rel="stylesheet" href="assets/vendor/c3/c3.css">
<link rel="stylesheet" href="assets/vendor/semantic/dist/semantic.css">
<script src="assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="assets/vendor/d3/d3.js"></script>
<script src="assets/vendor/c3/c3.js"></script>
<script src="assets/vendor/semantic/dist/semantic.js"></script>
<script src="assets/js/app.js"></script>