<meta charset="UTF-8">
<title><%= ogheadTitle %></title>
<meta property="og:title" content="<%= ogheadTitle %>"/>
<meta property="og:description" content="<%= ogdescription %>">
<meta property="og:image" content="<%= ogImage %>"/>

<meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=0, minimum-scale=1 " />

<link rel="stylesheet" href="/assets/css/application.css">
<link rel="stylesheet" href="/assets/css/capstrap.css">
<link rel="stylesheet" href="/assets/vendor/c3/c3.css">

<script src="/assets/vendor/angular/angular.js"></script>
<script src="/assets/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="/assets/vendor/d3/d3.js"></script>
<script src="/assets/vendor/c3/c3.js"></script>

<!-- ng plugin -->
<script src="/assets/vendor/venturocket-angular-slider/build/angular-slider.js"></script>
<script src="/assets/vendor/angular-touch/angular-touch.min.js"></script>

<script src="http://maxklenk.github.io/angular-chart/angular-chart.min.js"></script>
<script src="/assets/js/rgbcolor.js" type="text/javascript"></script>       
<script src="/assets/js/canvg.js" type="text/javascript"></script>  
<script src="/assets/js/ng-app.js"></script>