<div ng-controller="storyCtrl" class="story-box storyCtrl">
	<div class="relative">
		<div class="story-box-hot-key">
			<a href="#" class="btn btn-default btn-sm btn-block">
				<i class="glyphicon glyphicon-resize-full"></i>
			</a>
			<a href="#" class="btn btn-success btn-sm btn-block">
				<i class="glyphicon glyphicon-floppy-disk"></i>
			</a>
		</div>

		<h2 class="story-title"><i class="glyphicon glyphicon-film"></i> 故事模式</h2>
		<div class="story-content overflow-y">
			<div>
				<ol class="breadcrumb">
					<li class="active">故事模式</li>
				</ol>
				<a href="#" class="btn btn-lg btn-block text-left">
					<i class="glyphicon glyphicon-align-left"></i>	編輯摘要
				</a>
				<a href="#" class="btn btn-lg btn-block text-left">
					<i class="glyphicon glyphicon-facetime-video"></i> 編輯圖表故事
				</a>
			</div>

			<hr>
			<!-- index -->

			<div>
				<ol class="breadcrumb">
					<li><a href="#"><i class="glyphicon glyphicon-chevron-left"></i> 故事模式</a></li>
					<li class="active">編輯圖表故事</li>
				</ol>

				<div class="row-item-list">
					<ul>
						<li class="item-list-wrap">
							<h3 class="item-list-header">Chart 1</h3>
							<div class="item-list-body">
								<p>各行各業的平均薪資(月)</p>
							</div>
							<div class="item-list-footer text-right">
								<div class="btn-group btn-group-sm ">
									<a href="#" class="btn">Remove</a>
									<a href="#" class="btn">Edit</a>
								</div>
							</div>
						</li>
						<li class="item-list-wrap">
							<h3 class="item-list-header">Chart 1</h3>
							<div class="item-list-body">
								<p>各行各業的平均薪資(月)</p>
								
							</div>
							<div class="item-list-footer text-right">
								<div class="btn-group btn-group-sm ">
									<a href="#" class="btn">Remove</a>
									<a href="#" class="btn">Edit</a>
								</div>
							</div>
						</li>
						<li class="item-list-wrap">
							<a href="#" class="btn btn-lg btn-block"><i class="glyphicon glyphicon-plus"></i></a>
						</li>
					</ul>
				</div>
			</div>

			<hr>
			<!-- story list -->

			<div>
				<ol class="breadcrumb">
					<li><a href="#"><i class="glyphicon glyphicon-chevron-left"></i> 編輯圖表故事</a></li>
					<li class="active">Chart 1</li>
				</ol>
				<div class="form-group">
					<label for="sectionTitle">章節標題</label>
					<input type="text" class="form-control" id="sectionTitle" placeholder="請輸入標題">
				</div>
				<div class="form-group">
					<label for="sectionDescrip">章節描述</label>
					<textarea id="sectionDescrip" class="form-control" cols="30" rows="10"  placeholder="輸入描述"></textarea>
				</div>
				<div class="text-right">
					<a href="#" class="btn btn-primary">儲存頁面變更</a>
				</div>
			</div>

		</div>
	</div>
</div>