<div class="story-box storyCtrl" ng-class="{ hideBox: storyModel.showStoryBox }">
	<div class="relative">
		<div class="story-box-hot-key">
			<a class="btn btn-default btn-sm" ng-click="showStoryBox()">
				<i class="glyphicon glyphicon-resize-full"></i>
			</a>
			<a class="btn btn-info btn-sm" ng-click="openStoryModal()">
				<i class="glyphicon glyphicon-pencil"></i>
			</a>
			<a class="btn btn-success btn-sm">
				<i class="glyphicon glyphicon-floppy-disk"></i>
			</a>
		</div>

		<h4 class="story-title">故事模式</h4>
		<div class="story-content">
		
			<div class="row-item-list">
				<ul>
					<li class="item-list-wrap" ng-repeat="item in storyModel.chapters" ng-class="{active : item.id == storyModel.currentChapter}" style="background-image: url(/images/demo-img.png)">
						<div class="item-list-footer text-center">
                			<a href="#{{item.id}}" class="btn" ng-click="editChapter(item.id)">Edit</a>
							<a href="#" class="btn">Remove</a>
						</div>
					</li>
					<li class="item-list-wrap">
						<div class="item-list-center text-center">
							<a href="" class="btn btn-lg btn-block" ng-click="storyNewChapter()"><i class="glyphicon glyphicon-plus"></i></a>
						</div>
					</li>
				</ul>
			</div>
			

		</div>
	</div>
</div>

<script type="text/ng-template" id="modalStoryContent.html">
  <div class="modal-header">
    <h3 class="modal-title"><input class="form-control" value="一篇圖表故事"></h3>
  </div>
  <div class="modal-body">
	<div class="form-group">
		<label >描述</label>
		<input type="text" class="form-control" ng-model="">
	</div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="ok()">OK</button>
      
  </div>
</script>
