<div class="story-box storyCtrl" ng-class="{ hideBox: storyModel.showStoryBox }">
	<div class="relative">
		<div class="story-box-hot-key">
			<a class="btn btn-default btn-sm mrs" ng-click="showStoryBox()">
				<i class="glyphicon glyphicon-resize-full"></i>
			</a>
			<a class="btn btn-info btn-sm mrs">
				<i class="glyphicon glyphicon-pencil"></i>
			</a>
			<a class="btn btn-success btn-sm mrs">
				<i class="glyphicon glyphicon-floppy-disk"></i>
			</a>
		</div>

		<h3 class="story-title"><i class="glyphicon glyphicon glyphicon-blackboard"></i> 故事模式</h3>
		<div class="story-content overflow-x">
		
			<!-- <div>
				<ol class="breadcrumb">
					<li class="active">故事模式</li>
				</ol>
				<a href="#" class="btn btn-lg btn-block text-left">
					<i class="glyphicon glyphicon-align-left"></i>	編輯摘要
				</a>
				<a href="#" class="btn btn-lg btn-block text-left">
					<i class="glyphicon glyphicon-facetime-video"></i> 編輯圖表故事
				</a>
			</div> -->

			<!-- <hr> -->
			<!-- index -->

			<div>
				<!-- <ol class="breadcrumb">
					<li><a href="#"><i class="glyphicon glyphicon-chevron-left"></i> 故事模式</a></li>
					<li class="active">編輯圖表故事</li>
				</ol> -->

				<div class="row-item-list">
					<ul class="overflow-x">
						<li class="item-list-wrap" ng-repeat="item in storyModel.chapters">
							<h3 class="item-list-header">{{ item.title }}</h3>
							<div class="item-list-body">
								<p>{{ item.description }}</p>
							</div>
							<div class="item-list-footer text-right">
								<div class="btn-group btn-group-sm ">
									<a href="#" class="btn">Remove</a>
									<a href="#" class="btn">Edit</a>
								</div>
							</div>
						</li>
						<li class="item-list-wrap">
							<div class="item-list-center text-center">
								<a href="#" class="btn btn-lg btn-block"><i class="glyphicon glyphicon-plus"></i></a>
							</div>
						</li>
					</ul>
				</div>
			</div>

			<!-- <hr> -->
			<!-- story list -->

			<!-- <div>
				<ol class="breadcrumb">
					<li><a href="#"><i class="glyphicon glyphicon-chevron-left"></i> 編輯圖表故事</a></li>
					<li class="active">Chart 1</li>
				</ol>
				<div class="form-group">
					<label for="sectionTitle">章節標題</label>
					<input type="text" class="form-control" id="sectionTitle" placeholder="請輸入標題">
				</div>
				<div class="form-group">
					<label for="sectionDescrip">章節描述</label>
					<textarea id="sectionDescrip" class="form-control" cols="30" rows="10"  placeholder="輸入描述"></textarea>
				</div>
				<div class="text-right">
					<a href="#" class="btn btn-primary">儲存頁面變更</a>
				</div>
			</div> -->

		</div>
	</div>
</div>