<!DOCTYPE html>
<html lang="en" ng-app="starter">
<head>
	<% include partials/head %>
</head>
<body ng-controller="appCtrl">

	<header>
		<% include partials/header %>
	</header>
	<div>
		<%- body %>
		<div ng-view></div>
	</div>
	<footer>
		<% include partials/footer %>
	</footer>
</body>
</html>