
%clearfix
	+pie-clearfix

.float-left
	float: left

.float-right
	float: right

.clearfix
	@extend %clearfix

.block
	display: block !important

.inline-block
	display: inline-block

//position
.relative
	position: relative

//margin and padding
.mb0
	margin-bottom: 0 !important

.mbs
	+trailer(.5)
.mbm
	+trailer(1)
.mbl
	+trailer(1.5)

.mt0
	margin-top: 0 !important
.mts
	+leader(.5)
.mtm
	+leader(1)
.mtl
	+leader(1.5)


.pdm
	padding: $gutter

.overflow-y
	overflow-y: auto
	word-break: break-all
	
.text-overflow
	white-space: nowrap
	overflow: hidden
	text-overflow: ellipsis
.nowrap
	white-space: nowrap

// height
.h200
	height: 200px
.h80
	height: 80px

// color
.bg-gray-lighter
	background-color: $gray-lighter


// font-color
.c-gray
	color: $gray