
<div id="errorMessage" class="hidden alert alert-danger">
	很抱歉，連接不上Google 試算表，可能是運氣不好，或者參考一下文件看看發生了什麼問題。
</div>

<div id="form" class="row mbm">

	<div class="col-sm-3">
		<label>
			圖表類型
			<small class="glyphicon glyphicon-question-sign" tooltip="選擇你的圖表格式"></small>
		</label>
		<select class="form-control" ng-init="appModel.chartType = chartType[0]" ng-model="appModel.chartType" ng-options="operator as operator.name for operator in chartType" ng-change="renderData()">
		</select>
	</div>

	<div class="col-sm-3">
		<label for="x-Axis">
			X 軸
			<small class="glyphicon glyphicon-question-sign" tooltip="選擇X軸，預設是表單的第一欄"></small>
		</label>
		<select name="" id="x-Axis" class="form-control" ng-init="appModel.xVal = appModel.jsonKey[0]" ng-model="appModel.xVal" ng-options="option as option.name for option in appModel.jsonKey" ng-change="renderData()">
		</select>
	</div>

	<div class="col-sm-3 col-sm-offset-3 text-primary">
		<label for="x-Axis">
			資料
			<small class="glyphicon glyphicon-question-sign" tooltip="選擇所需要的資料"></small>
		</label>
		<div class="dropdown mega-dropdown dropdown-menu-right" dropdown on-toggle="toggled(open)">
			<a type="button" class="btn btn-default block" dropdown-toggle>
			  <span class="text-primary">選擇資料</span>
			  <span class="caret text-primary"></span>
			</a>
			<ul id="checkform" class="dropdown-menu" ng-click="$event.stopPropagation()">
				<li ng-repeat="item in appModel.jsonKey">
					<label>
						<input type="checkbox" value="{{ item.name }}" ng-model="item.dataSelect" ng-change="renderData()">
							{{ replaceGSX(item.name) }}
					</label>
				</li>	
			</ul>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="col-sm-3 mts">
		<div class="text-right">
			<label class="btn btn-default" ng-model="appModel.singlePoint" btn-checkbox ng-change="singlePointUpdate()">單點資料 <small class="glyphicon glyphicon-question-sign" tooltip="選取單點的資料(如單一的時間點)"></small></label>
		</div>
	</div>
	<div class="col-sm-6 mts">
		<div ng-class="{ 'hidden': appModel.singlePoint }">
			<slider
				floor="0" stretch="1" ceiling="{{ appModel.xData.length }}" ng-model="appModel.xDataMin" ng-model-range="appModel.xDataMax" 
				ng-mouseup="sliderUpdate()"
				ng-touchend="sliderUpdate()"
				></slider>
			<div class="row">
			<div class="col-sm-4">Min: {{ appModel.xData[appModel.xDataMin] }}</div>
			<div class="col-sm-4 text-center"><span>資料區間</span></div>
			<div class="col-sm-4 text-right">Max: {{ appModel.xData[(appModel.xDataMax - 1)] }}</div>
		</div>
		</div>
		<div ng-class="{ 'hidden': !appModel.singlePoint }">
			<slider
				floor="0" ceiling="{{ appModel.xData.length - 1 }}" ng-model="appModel.xDataMin" 
				ng-mouseup="sliderUpdate()"
				ng-touchend="sliderUpdate()"
				></slider>
			<div class="row">
			<div class="col-sm-6">data point: {{ appModel.xData[appModel.xDataMin] }}</div>
			<div class="col-sm-6 text-right"><span>單點資料</span></div>
		</div>
		</div>
		
	</div>	
	<div class="col-sm-3 mts">
		<div class="text-left">
			<label ng-class="{ 'disabled': appModel.singlePoint }" 
				class="btn btn-default pull-left" ng-model="appModel.xDataMaximum" btn-checkbox ng-change="maximumXdata()">最大值
				<small class="glyphicon glyphicon-question-sign" tooltip="X 軸資料最大值(單點資料不適用)"></small>
				</label>
			<!-- <label class="pull-right"><input type="checkbox" id="maximum"> 最大值</label> -->
		</div>
	</div>

	
</div>

<div class="row mbl">
	<div class="pd-m">
		<div class="col-sm-12">
			<div class="demo">
			</div>
			<h2 id="chart-title" class="text-center"></h2>
		</div>
	</div>
</div>


