<ol class="breadcrumb">
  <li><a href="#">圖表牆</a></li>
  <li class="active">範例圖表</li>
</ol>
<div class="container-fluid">
	<h2>範例圖表</h2>

	<input id="page-value" type="text" class="hidden" value="1x6C86tzJ2F8ZTau6g7uUNxSb496wuoIR2s2I9lEWQSI">
	

	
	<div class="section-chart index-section">
		<% include chart %>
	</div>
</div>

<script>
pageUserControl = {
  chartType: {
    name: "圓餅圖",
    value: "pie"
  },
  xAxis: {
    name: "gsx$時間",
    value: "gsx$時間"
  },
  data: {
    name: "",
    value: ["gsx$新北市總計", "gsx$臺北市總計", "gsx$高雄市總計"]
  },
  range: {
    name: "gsx$時間",
    min: 5,
    max: 13,
    minimum: true,
    maximum: true
  }
};

</script>