

	<div class="four wide column">
		<div class="ui form controller segment">
			<label>Google 試算表的Key</label>
			<div class="field">
				<input id="getKey" type="text" placeholder="Google 試算表Key" value="1x6C86tzJ2F8ZTau6g7uUNxSb496wuoIR2s2I9lEWQSI" class="form-control"> <br>
			</div>

			<button type="button" id="submitGetKey" class="ui primary button">開啟試算表</button>

			<select id="chart-list" class="form-control">
				<option value="pie">圓餅圖</option>
				<option value="line" selected="">線條圖</option>
				<option value="area-spline">面積圖</option>
				<option value="donut">圓環</option>
			</select>
			
			

			

			<div id="form">
				<label for="x-Axis">X 軸</label>
				<select name="" id="x-Axis" class="form-control"></select>
				<div id="checkform">
					
				</div>
			</div>
		</div>
	</div>
	<div class="twelve wide column">
		<div class="demo">
		</div>
	</div>




