
<div class="text-center header-banner index mbl">
	<div class="banner-imgae"></div>
	<div class="col-sm-6 col-sm-offset-3">

		<div class="input-group">
			<input id="getKey" type="text" value="" placeholder="Pleace type the Google Spreadsheet key" class="form-control">
			<span class="input-group-btn">
				<button id="submitGetKey" class="btn btn-danger" type="button" data-loading-text="Loading...">開啟試算表</button>
			</span>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="section-intro index-section in active">
		<% include intro %>
	</div>

	<div class="section-chart index-section">
		<% include chart %>
	</div>

</div>

