<% layout( '../layout' ) -%> 
<div  ng-controller="chartCtrl">
	<div class="text-center header-banner index mbl" ng-class="{ 'index': !pageStatus.start }">
		<div class="banner-imgae"></div>
		<div class="col-sm-6 col-sm-offset-3">

			<div class="input-group">
				<input id="getKey" type="text" ng-model="appModel.chartShkey" placeholder="Pleace type the Google Spreadsheet key" class="form-control" ng-keypress="enterChart($event, appModel.chartShkey)" >
				<span class="input-group-btn">
					<button id="submitGetKey" class="btn btn-danger" type="button" data-loading-text="Loading..." ng-click="loadChart(appModel.chartShkey)">開啟試算表</button>
				</span>
			</div>
		</div>
	</div>

	<div class="container-fluid container" >
		<div class="section-intro index-section" ng-class="{ 'active in': !pageStatus.start }">
			<% include intro %>
		</div>
		<div class="section-chart index-section" ng-class="{ 'active in': pageStatus.start }">
			<% include ../partials/chart %>
			<!-- chart save -->
			<% include ../partials/chartContentForm %>
			
			<!-- chart save end -->
		</div>

	</div>

</div>