<article class="row mbm">
	<div class="col-sm-4">
		<div class="mbl">
			<img src="images/index-img-01.png" class="img-responsive index-img" alt="">
		</div>
		<h3 class="text-center">將表單公開到網路</h3>
		<p>在使用前只要將你的Google表單公開，讓我們可以抓到你的資料，就可以開始這個工具。</p>
	</div>

	<div class="col-sm-4">
		<div class="mbl">
			<img src="images/index-img-02.png" class="img-responsive index-img" alt="">
		</div>
		<h3 class="text-center">測試你適合的圖表</h3>
		<p>在這個工具上，你可以輕鬆的變幻各種圖表，這樣可以快速地瞭解資料內容是否合乎你所預期的。</p>
	</div>

	<div class="col-sm-4">
		<div class="mbl">
			<img src="images/index-img-03.png" class="img-responsive index-img" alt="">
		</div>
		<h3 class="text-center">公開在網路上</h3>
		<p>我們提供了這個平台，你只要提供些許的資料，就可以將資料公開在網路上，這個時代，讓數據說話吧。</p>
	</div>
</article>


<h2>圖表牆</h2>
<article class="row mbl">
	<% for(var i=0; i<12; i++) {%>
	<div class="col-sm-3 mbm">
		<img src="upload/test-img.png" alt="" class="img-responsive">
		<h4 class="text-center text-overflow">
			台灣人口統計分析圖 i jer jeroigj egjoer e
		</h4>
		<div class="overflow-y h80 c-gray mbs">
			<p>.veoj segjoeirj esjgoi jer jeroigj egjoer ejsrigj esgij osegj oe j ioejg .</p>
			<p>.veoj segjoeirj esjgoi jer jeroigj egjoer ejsrigj esgij osegj oe j ioejg .</p>
			<p>.veoj segjoeirj esjgoi jer jeroigj egjoer ejsrigj esgij osegj oe j ioejg .</p>
			<p>.veoj segjoeirj esjgoi jer jeroigj egjoer ejsrigj esgij osegj oe j ioejg .</p>
		</div>
		<div class="text-center">
			<div class="btn btn-primary btn-sm">檢視</div>
		</div>
	</div>
	<% } %>
</article>