
<article class="row mbl">
	<div class="col-sm-4">
		<div class="mbl">
			<img src="images/index-img-01.png" class="img-responsive index-img" alt="">
		</div>
		<h3 class="text-center">將表單公開到網路</h3>
		<p>在使用前只要將你的Google表單公開，讓我們可以抓到你的資料，就可以開始這個工具。</p>
	</div>

	<div class="col-sm-4">
		<div class="mbl">
			<img src="images/index-img-02.png" class="img-responsive index-img" alt="">
		</div>
		<h3 class="text-center">測試你適合的圖表</h3>
		<p>在這個工具上，你可以輕鬆的變幻各種圖表，這樣可以快速地瞭解資料內容是否合乎你所預期的。</p>
	</div>

	<div class="col-sm-4">
		<div class="mbl">
			<img src="images/index-img-03.png" class="img-responsive index-img" alt="">
		</div>
		<h3 class="text-center">公開在網路上</h3>
		<p>我們提供了這個平台，你只要提供些許的資料，就可以將資料公開在網路上，這個時代，讓數據說話吧。</p>
	</div>
</article>

<article class="row mbm">
	<div class="col-sm-6 text-center">
		<a href="#" class="btn btn-primary">範例參考</a>
	</div>
	<div class="col-sm-6 text-center">
		<a href="#" class="btn btn-primary">使用教學</a>
	</div>
</article>

