
<div class="container-fluid">
	<h2>圖表牆</h2>

	
	<div class="section-chart index-section">
		<% include chart %>
	</div>



	<article class="row mbl mtm">
		<% for(var i=0; i<12; i++) {%>
		<div class="col-sm-3 mbm">
			<img src="upload/test-img.png" alt="" class="img-responsive">
			<h4 class="text-center text-overflow">
				台灣人口統計分析圖 i jer jeroigj egjoer e
			</h4>
			<div class="overflow-y h80 c-gray mbs">
				<p>.veoj segjoeirj esjgoi jer jeroigj egjoer ejsrigj esgij osegj oe j ioejg .</p>
				<p>.veoj segjoeirj esjgoi jer jeroigj egjoer ejsrigj esgij osegj oe j ioejg .</p>
				<p>.veoj segjoeirj esjgoi jer jeroigj egjoer ejsrigj esgij osegj oe j ioejg .</p>
				<p>.veoj segjoeirj esjgoi jer jeroigj egjoer ejsrigj esgij osegj oe j ioejg .</p>
			</div>
			<div class="text-center">
				<a href="#" class="btn btn-primary btn-sm load-sheet" data-key="1x6C86tzJ2F8ZTau6g7uUNxSb496wuoIR2s2I9lEWQSI">檢視</a>
			</div>
		</div>
		<% } %>
	</article>
</div>