<% layout( '../layout' ) -%> 
<ol class="breadcrumb">
  <li class="active"><a href="#">圖表牆</a></li>
</ol>

<div class="container-fluid container">
	
	<h2>圖表牆</h2>

	<div class="section-chart index-section">
		<% include chart %>
	</div>

	<article class="row mbl mtm">
		<% for(var i=0; i<C3data.length; i++) {%> 
		<div class="col-sm-4 mbm">
			<div class="showcase-card">
				<div class="showcase-img" style="background-image: url(<%= C3data[i].img %>)"></div>
				<div class="showcase-content">
					<h4 class="text-center text-overflow">
						<%= C3data[i].name %>
					</h4>
					<div class="overflow-y h80 c-gray mbs">
						<%= C3data[i].description %>
					</div>
				</div>
				<div class="showcase-footer">
					<div class="text-center">
						<a href="/page/<%= C3data[i].id %>" class="btn btn-primary btn-sm">檢視</a>
					</div>
				</div>
			</div>
		</div>
		<% } %>
	</article>
	<!-- <nav class="text-center">
		<ul class="pagination">
			<li>
				<a href="#" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li>
				<a href="#" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
		</ul>
	</nav> -->
</div>