<ol class="breadcrumb">
  <li class="active"><a href="#">圖表牆</a></li>
</ol>

<div class="container-fluid">
	

	<h2>圖表牆</h2>

	
	<div class="section-chart index-section">
		<% include chart %>
	</div>



	<article class="row mbl mtm">
		<% for(var i=0; i<12; i++) {%>
		<div class="col-sm-3 mbm">
			<img src="upload/test-img.png" alt="" class="img-responsive">
			<h4 class="text-center text-overflow">
				台灣人口統計分析圖 i jer jeroigj egjoer e
			</h4>
			<div class="overflow-y h80 c-gray mbs">
				<p>印尼國家搜救中心最高主管說，根據飛機最後一次聯繫時的雷達資料，當局認為失蹤的亞航班機可能在海底。</p>
				<p>「（基於）我們取得的座標以及對飛機海上行蹤發展的計算，我們初步推測這架飛機現在在海底。」</p>
				<p>亞航QZ8501班機搭載155名乘客和7名機組員，當地時間昨天清晨5時20分，自東爪哇泗水朱安達國際機場起飛，原定新加坡時間昨天上午8時30分抵達新加坡。</p>
			</div>
			<div class="text-center">
				<a href="demopage" class="btn btn-primary btn-sm load-sheet">檢視</a>
			</div>
		</div>
		<% } %>
	</article>
</div>