<% layout( '../layout' ) -%> 

<div ng-controller="storyCtrl">

	<div ng-controller="chartCtrl">
		<div class="text-center header-banner mbl">
			<div class="banner-imgae"></div>
		</div>

		<div class="container-fluid container" >
			<div class="section-chart index-section active in">
				<% include ../partials/chart %>
				<!-- chart save -->
				
				<% include ../partials/chartContentForm %>
				<!-- chart save end -->
			</div>

		</div>

	</div>
	
	<div >
		<% include ../partials/storyCtrl %>
	</div>

</div>