<% layout( '../layout' ) -%> 

<div ng-controller="storyCtrl">

	<div ng-controller="chartCtrl">
		<div class="text-center header-banner mbl">
			<div class="banner-imgae"></div>
		</div>

		<div class="container-fluid container" >
			<!-- <h2>故事模式 - </h2>
			<div class="input-group mbl">
				<input id="getKey" type="text" ng-model="appModel.chartShkey" placeholder="Pleace type the Google Spreadsheet key" class="form-control" ng-keypress="enterChart($event, appModel.chartShkey)" >
				<span class="input-group-btn">
					<button id="submitGetKey" class="btn btn-danger" type="button" data-loading-text="Loading..." ng-click="loadChart(appModel.chartShkey)">開啟試算表</button>
				</span>
			</div> -->
			<div class="section-chart index-section active in">
				<% include ../partials/chart %>
				<!-- chart save -->
				
				<% include ../partials/chartContentForm %>
				<!-- chart save end -->
			</div>

		</div>

	</div>
	
	<div >
		<% include ../partials/storyCtrl %>
	</div>

</div>


<script>
var chapters = [
    {
      "id": "1425520519329",
      "chartType": {
        "name": "折線圖 Line",
        "key": "line"
      },
      "xDataMin": 0,
      "xDataMax": 22,
      "chartShkey": "1x6C86tzJ2F8ZTau6g7uUNxSb496wuoIR2s2I9lEWQSI",
      "xVal": {
        "name": "gsx$時間"
      },
      "jsonKey": [
        {
          "name": "gsx$時間"
        },
        {
          "name": "gsx$區域別總計總計"
        },
        {
          "name": "gsx$新北市總計",
          "dataSelect": true
        },
        {
          "name": "gsx$臺北市總計",
          "dataSelect": true
        },
        {
          "name": "gsx$高雄市總計",
          "dataSelect": true
        },
        {
          "name": "gsx$區域別總計幼兒人口"
        },
        {
          "name": "gsx$新北市幼兒人口"
        },
        {
          "name": "gsx$臺北市幼兒人口"
        },
        {
          "name": "gsx$高雄市幼兒人口"
        },
        {
          "name": "gsx$區域別總計工作人口"
        },
        {
          "name": "gsx$新北市工作人口"
        },
        {
          "name": "gsx$臺北市工作人口"
        },
        {
          "name": "gsx$高雄市工作人口"
        },
        {
          "name": "gsx$區域別總計老年人口"
        },
        {
          "name": "gsx$新北市老年人口"
        },
        {
          "name": "gsx$臺北市老年人口"
        },
        {
          "name": "gsx$高雄市老年人口"
        }
      ],
      "xData": [
        "81年",
        "82年",
        "83年",
        "84年",
        "85年",
        "86年",
        "87年",
        "88年",
        "89年",
        "90年",
        "91年",
        "92年",
        "93年",
        "94年",
        "95年",
        "96年",
        "97年",
        "98年",
        "99年",
        "100年",
        "101年",
        "102年"
      ],
      "content": {
        "chartName": "81 - 102年 人口統計表",
        "description": "從民國81年到102年，除了新北市人口大量成長外，台北與新北市大多維持持平的狀態。"
      }
    },
    {
      "id": "1425520752332",
      "chartType": {
        "name": "折線圖 Line",
        "key": "line"
      },
      "xDataMin": 0,
      "xDataMax": 22,
      "chartShkey": "1x6C86tzJ2F8ZTau6g7uUNxSb496wuoIR2s2I9lEWQSI",
      "xVal": {
        "name": "gsx$時間"
      },
      "jsonKey": [
        {
          "name": "gsx$時間"
        },
        {
          "name": "gsx$區域別總計總計"
        },
        {
          "name": "gsx$新北市總計",
          "dataSelect": false
        },
        {
          "name": "gsx$臺北市總計"
        },
        {
          "name": "gsx$高雄市總計"
        },
        {
          "name": "gsx$區域別總計幼兒人口"
        },
        {
          "name": "gsx$新北市幼兒人口",
          "dataSelect": false
        },
        {
          "name": "gsx$臺北市幼兒人口",
          "dataSelect": true
        },
        {
          "name": "gsx$高雄市幼兒人口"
        },
        {
          "name": "gsx$區域別總計工作人口"
        },
        {
          "name": "gsx$新北市工作人口",
          "dataSelect": false
        },
        {
          "name": "gsx$臺北市工作人口",
          "dataSelect": true
        },
        {
          "name": "gsx$高雄市工作人口"
        },
        {
          "name": "gsx$區域別總計老年人口"
        },
        {
          "name": "gsx$新北市老年人口",
          "dataSelect": false
        },
        {
          "name": "gsx$臺北市老年人口",
          "dataSelect": true
        },
        {
          "name": "gsx$高雄市老年人口"
        }
      ],
      "xData": [
        "81年",
        "82年",
        "83年",
        "84年",
        "85年",
        "86年",
        "87年",
        "88年",
        "89年",
        "90年",
        "91年",
        "92年",
        "93年",
        "94年",
        "95年",
        "96年",
        "97年",
        "98年",
        "99年",
        "100年",
        "101年",
        "102年"
      ],
      "content": {
        "chartName": "人口結構",
        "description": "就以台北市為例，幼兒人口不斷的減少，但總人口數變化是不大的；\n而這樣維持長時間的人口數不變，主因是死亡率降低。"
      }
    },
    {
      "id": "1425521013780",
      "chartType": {
        "name": "面積圖 Area Spline",
        "key": "area-spline"
      },
      "xDataMin": 0,
      "xDataMax": 22,
      "chartShkey": "1x6C86tzJ2F8ZTau6g7uUNxSb496wuoIR2s2I9lEWQSI",
      "xVal": {
        "name": "gsx$時間"
      },
      "jsonKey": [
        {
          "name": "gsx$時間"
        },
        {
          "name": "gsx$區域別總計總計"
        },
        {
          "name": "gsx$新北市總計"
        },
        {
          "name": "gsx$臺北市總計"
        },
        {
          "name": "gsx$高雄市總計"
        },
        {
          "name": "gsx$區域別總計幼兒人口"
        },
        {
          "name": "gsx$新北市幼兒人口"
        },
        {
          "name": "gsx$臺北市幼兒人口",
          "dataSelect": true
        },
        {
          "name": "gsx$高雄市幼兒人口"
        },
        {
          "name": "gsx$區域別總計工作人口"
        },
        {
          "name": "gsx$新北市工作人口",
          "dataSelect": false
        },
        {
          "name": "gsx$臺北市工作人口"
        },
        {
          "name": "gsx$高雄市工作人口"
        },
        {
          "name": "gsx$區域別總計老年人口"
        },
        {
          "name": "gsx$新北市老年人口"
        },
        {
          "name": "gsx$臺北市老年人口",
          "dataSelect": true
        },
        {
          "name": "gsx$高雄市老年人口"
        }
      ],
      "xData": [
        "81年",
        "82年",
        "83年",
        "84年",
        "85年",
        "86年",
        "87年",
        "88年",
        "89年",
        "90年",
        "91年",
        "92年",
        "93年",
        "94年",
        "95年",
        "96年",
        "97年",
        "98年",
        "99年",
        "100年",
        "101年",
        "102年"
      ],
      "content": {
        "chartName": "人口老化",
        "description": "再這樣長時間的變化下，我們可以觀察到老年人口與幼兒人口越來越接近，維持這樣的曲線，幼兒人口將會低於老年人口。"
      }
    },
    {
      "id": "1425521155130",
      "chartType": {
        "name": "圓餅圖 Pie Chart",
        "key": "pie"
      },
      "xDataMin": 21,
      "xDataMax": 22,
      "chartShkey": "1x6C86tzJ2F8ZTau6g7uUNxSb496wuoIR2s2I9lEWQSI",
      "xVal": {
        "name": "gsx$時間"
      },
      "jsonKey": [
        {
          "name": "gsx$時間"
        },
        {
          "name": "gsx$區域別總計總計"
        },
        {
          "name": "gsx$新北市總計"
        },
        {
          "name": "gsx$臺北市總計"
        },
        {
          "name": "gsx$高雄市總計"
        },
        {
          "name": "gsx$區域別總計幼兒人口"
        },
        {
          "name": "gsx$新北市幼兒人口"
        },
        {
          "name": "gsx$臺北市幼兒人口",
          "dataSelect": true
        },
        {
          "name": "gsx$高雄市幼兒人口"
        },
        {
          "name": "gsx$區域別總計工作人口"
        },
        {
          "name": "gsx$新北市工作人口"
        },
        {
          "name": "gsx$臺北市工作人口",
          "dataSelect": true
        },
        {
          "name": "gsx$高雄市工作人口"
        },
        {
          "name": "gsx$區域別總計老年人口"
        },
        {
          "name": "gsx$新北市老年人口"
        },
        {
          "name": "gsx$臺北市老年人口",
          "dataSelect": true
        },
        {
          "name": "gsx$高雄市老年人口"
        }
      ],
      "xData": [
        "81年",
        "82年",
        "83年",
        "84年",
        "85年",
        "86年",
        "87年",
        "88年",
        "89年",
        "90年",
        "91年",
        "92年",
        "93年",
        "94年",
        "95年",
        "96年",
        "97年",
        "98年",
        "99年",
        "100年",
        "101年",
        "102年"
      ],
      "content": {
        "chartName": "102 年台北市人口結構",
        "description": "在102年時的人口結構，台北市幼兒人口與老年人口相當接近。"
      },
      "singlePoint": true,
      "xDataMaximum": false
    }
  ]
</script>
