

$banner-height: 120px

.header-banner
	height: 120px
	position: relative
	width: 100%
	+display-flex(flex)
	+align-items(center)
	//align-items: center
	+trailer(1.5)
	+transition(height .5s)
	&.index
		height: $banner-height * 2
	
.banner-imgae
	position: absolute
	background: image-url("banner150423.jpg") center center
	+background-size(cover)
	background-color: $invert-color
	+filter(grayscale(50%))
	top: 0
	left: 0
	right: 0
	bottom: 0

.index-ico
	width: 60%
	height: auto
	margin: 0 auto

.index-section
	display: none
	opacity: 0
	+transition(opacity .5s)
	&.in
		opacity: 1
	&.active
		display: block

